@font-face {
  font-family: "Raleway";
  src: url("../font/RalewayBold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../font/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../font/RalewayBold.woff2") format("woff2"), url("../font/RalewayBold.woff") format("woff"), url("../font/RalewayBold.ttf") format("truetype"), url("../font/RalewayBold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/RalewayBlack.eot");
  src: local("Raleway Black"), local("Raleway-Black"), url("../font/RalewayBlack.eot?#iefix") format("embedded-opentype"), url("../font/RalewayBlack.woff2") format("woff2"), url("../font/RalewayBlack.woff") format("woff"), url("../font/RalewayBlack.ttf") format("truetype"), url("../font/RalewayBlack.svg#Raleway-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/RalewayLight.eot");
  src: local("Raleway Light"), local("Raleway-Light"), url("../font/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../font/RalewayLight.woff2") format("woff2"), url("../font/RalewayLight.woff") format("woff"), url("../font/RalewayLight.ttf") format("truetype"), url("../font/RalewayLight.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "svgfont";
  src: url("svgfont.eot");
  src: local("icomoon"), url("../font/svgfont.eot?#iefix") format("embedded-opentype"), url("../font/svgfont.woff2") format("woff2"), url("../font/svgfont.woff") format("woff"), url("../font/svgfont.ttf") format("truetype"), url("../font/svgfont.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "svgfont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Carrot:before {
  content: "\e900";
}

.icon-Cart:before {
  content: "\e901";
}

.icon-Planet:before {
  content: "\e902";
}

.icon-Plant:before {
  content: "\e903";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

body h2 {
  font-size: 90px;
  line-height: 106px;
  font-weight: bold;
}

body a {
  color: inherit;
  text-decoration: none;
}

body .wrapper__header {
  background: url(../img/BG.png) no-repeat center center;
  background-size: cover;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  color: #262626;
  padding: 50px 0 70px;
}

body .header__logo {
  display: inline-block;
}

body .header__scrollWraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

body .header__header {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 15px;
}

body .header__description {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 28px;
}

body .header__button {
  width: 200px;
  min-height: 55px;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 16px 0;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  background: #ff6033;
}

body .header__button:hover {
  background: transparent;
  color: #ff6033;
  border-color: #ff6033;
}

body .header .justify-center-vertical {
  margin: auto 0;
}

body .header__list {
  text-transform: uppercase;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
}

body .header__list__item {
  border-top: 3px solid transparent;
  cursor: pointer;
}

body .header__list__item:not(:first-child) {
  margin-left: 36px;
}

body .header__list__item:hover {
  border-color: #ff6033;
}

body .header__list__item--active {
  border-top: 3px solid #ff6033;
}

body .wrapper__about {
  background-color: #01bdbd;
  color: #ffffff;
  font-size: 17px;
  line-height: 27px;
}

body .wrapper__about .flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper__about .flexible .about__imgWrap {
  width: 60%;
}

body .wrapper__about .flexible .about__headerWrap {
  width: 40%;
}

body .wrapper__about .flexible .about__info {
  margin-bottom: 14px;
}

body .wrapper__contact {
  background: url(../img/BG3.png) no-repeat center center;
  background-size: cover;
}

body .contact {
  color: #262626;
  text-align: center;
  padding: 92px 0;
}

body .contact__header {
  margin-bottom: 30px;
}

body .contact__description {
  margin: 0 auto;
  max-width: 346px;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 50px;
}

body .contact input,
body .contact textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  background: rgba(0, 196, 196, 0.5);
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 16px 22px;
}

body .contact input::-webkit-input-placeholder,
body .contact textarea::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

body .contact input:-ms-input-placeholder,
body .contact textarea:-ms-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

body .contact input::-ms-input-placeholder,
body .contact textarea::-ms-input-placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

body .contact input::placeholder,
body .contact textarea::placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

body .contact input:focus,
body .contact textarea:focus {
  border-left: 5px solid #355b82;
  outline: none;
  padding-left: 17px;
  background: #00c4c4;
}

body .contact__message {
  resize: none;
}

body .contact input.contact__submit {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}

body .contact input.contact__submit:focus, body .contact input.contact__submit:hover {
  background: #00c4c4;
}

body .contact__contact {
  text-transform: uppercase;
}

body .contact__contact, body .contact__info {
  font-size: 17px;
  line-height: 25px;
  text-align: left;
}

body .contact__info {
  font-weight: 400;
}

body .contact__info:not(:last-child) {
  margin-bottom: 16px;
}

body .services {
  background: url(../img/Tomatoes.png) no-repeat 75% center, #70bfff;
  padding: 165px 0;
}

body .services__header {
  color: #ffffff;
}

body .services .vcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .services__list {
  list-style: none;
}

body .services__list__link {
  display: inline-block;
  padding: 23px 18px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 300px;
  color: #262626;
}

body .services__list__link + i {
  font-size: 42px;
  cursor: pointer;
  text-align: center;
  color: #262626;
  min-width: 100px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #9d9d9d;
}

body .services__list__item {
  max-width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  min-height: 100px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

body .services__list__item:not(:last-child) {
  margin-bottom: 20px;
}

body .gallery {
  color: #262626;
  text-align: center;
  background: #ffe92f;
  padding: 84px 0 142px;
}

body .gallery .imgWrapper {
  margin-bottom: 50px;
}

body .gallery .vertical__stretch > div:not(:last-child) {
  margin-bottom: 30px;
}

body .gallery .vertical__stretch {
  height: 100%;
}

body .gallery__header {
  margin-bottom: 30px;
}

body .gallery__info {
  max-width: 620px;
  margin: 0 auto 50px;
}

body .gallery img {
  width: 100%;
  height: 100%;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

body .gallery__button {
  width: 200px;
  min-height: 55px;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 16px 0;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  background: #5585a2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  font-weight: 300;
}

body .gallery__button:hover {
  border-color: #5585a2;
  background-color: #fff;
  color: #5585a2;
}

body .footer {
  padding: 30px 20px;
  background: #262626;
  font-size: 16px;
  line-height: 19px;
  color: #b9b9b9;
}

body .footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer__link {
  display: inline-block;
}

body .footer__info > span {
  font-weight: bold;
  color: #ff2b58;
}
/*# sourceMappingURL=style.css.map */