$xl: 1399.98px;
$lg: 1199.98px;
$md: 991.98px;
$sm: 767.98px;
$xs: 575.98px;
@media screen and (max-width: $lg) {
  .about__header {
    font-size: 60px;
  }
  .services__header {
    font-size: 60px;
    text-align: center;
  }
  .subscribe {
    text-align: center;
  }
}

@media screen and (max-width: $md) {
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__email {
    margin-bottom: 30px;
  }
  body .subscribe {
    background: none;
  }
}

@media screen and (max-width: $sm) {
  .subscribe__email {
    width: 90%;
  }
  .about__imgWrap {
    display: none;
  }
  body .wrapper__about .flexible .about__headerWrap {
    width: 100%;
    text-align: center;
  }
  body .services .vcenter {
    order: -1;
  }
  body .services {
    padding: 50px 0;
  }
  body .services {
    background: none;
  }
  body .services__header {
    color: #262626;
  }
  body .gallery .vertical__stretch > div:not(:last-child) {
    margin-bottom: 0;
  }
  .mb-4 {
    margin-bottom: 0;
  }
  .header,
  body .contact__contact,
  body .contact__info {
    text-align: center;
  }
  body .contact__contact,
  body .contact__info {
    color: darken(#262626, 30%);
  }
  body .wrapper__header {
    background: none;
  }
  body .subscribe,
  body .gallery,
  body .blog,
  body .contact {
    padding: 40px 0;
  }
  .contact form {
    margin-bottom: 30px;
  }
  body .contact input.contact__submit {
    width: 100%;
  }
  body .contact__header {
    font-size: 60px;
  }
  body .footer .container {
    flex-direction: column;
  }
  body .footer__link {
    order: 1;
  }
  body .footer__info {
    margin-bottom: 15px;
  }
  .header__nav {
    display: none;
  }
}

@media screen and (max-width: $xs) {
  body .services__header {
    font-size: 40px;
    line-height: 60px;
  }
  body .gallery {
    padding: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .outer-menu {
    display: none;
  }
}
