$color__black: #262626;
$color__light: #ffffff;
@mixin main-text {
  font-size: 17px;
  line-height: 27px;
}
@mixin button {
  width: 200px;
  min-height: 55px;
  font-size: 20px;
  line-height: 23px;
  color: $color__light;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 16px 0;
  text-align: center;
  border: 1px solid transparent;
}
@font-face {
  font-family: "Raleway";
  src: url("../font/RalewayBold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../font/RalewayBold.eot?#iefix") format("embedded-opentype"),
    url("../font/RalewayBold.woff2") format("woff2"),
    url("../font/RalewayBold.woff") format("woff"),
    url("../font/RalewayBold.ttf") format("truetype"),
    url("../font/RalewayBold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/RalewayBlack.eot");
  src: local("Raleway Black"), local("Raleway-Black"),
    url("../font/RalewayBlack.eot?#iefix") format("embedded-opentype"),
    url("../font/RalewayBlack.woff2") format("woff2"),
    url("../font/RalewayBlack.woff") format("woff"),
    url("../font/RalewayBlack.ttf") format("truetype"),
    url("../font/RalewayBlack.svg#Raleway-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/RalewayLight.eot");
  src: local("Raleway Light"), local("Raleway-Light"),
    url("../font/RalewayLight.eot?#iefix") format("embedded-opentype"),
    url("../font/RalewayLight.woff2") format("woff2"),
    url("../font/RalewayLight.woff") format("woff"),
    url("../font/RalewayLight.ttf") format("truetype"),
    url("../font/RalewayLight.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "svgfont";
  src: url("svgfont.eot");
  src: local("icomoon"),
    url("../font/svgfont.eot?#iefix") format("embedded-opentype"),
    url("../font/svgfont.woff2") format("woff2"),
    url("../font/svgfont.woff") format("woff"),
    url("../font/svgfont.ttf") format("truetype"),
    url("../font/svgfont.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "svgfont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Carrot:before {
  content: "\e900";
}
.icon-Cart:before {
  content: "\e901";
}
.icon-Planet:before {
  content: "\e902";
}
.icon-Plant:before {
  content: "\e903";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  h2 {
    font-size: 90px;
    line-height: 106px;
    font-weight: bold;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .wrapper__header {
    background: url(../img/BG.png) no-repeat center center;
    background-size: cover;
  }
  .header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: $color__black;
    padding: 50px 0 70px;
    &__logo {
      display: inline-block;
    }
    &__scrollWraper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      cursor: pointer;
    }
    &__header {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 15px;
    }
    &__description {
      @include main-text();
      margin-bottom: 28px;
    }
    &__button {
      @include button();
      background: #ff6033;
      cursor: pointer;
      &:hover {
        background: transparent;
        color: #ff6033;
        border-color: #ff6033;
      }
    }
    .justify-center-vertical {
      margin: auto 0;
    }
    &__list {
      text-transform: uppercase;
      list-style: none;
      display: flex;
      font-weight: bold;
      font-size: 16px;
      line-height: 27px;
      &__item {
        border-top: 3px solid transparent;
        cursor: pointer;
        &:not(:first-child) {
          margin-left: 36px;
        }
        &:hover {
          border-color: #ff6033;
        }
        &--active {
          border-top: 3px solid #ff6033;
        }
      }
    }
  }
  .wrapper__about {
    background-color: #01bdbd;
    color: $color__light;
    @include main-text();
    .flexible {
      display: flex;
      align-items: center;
      .about {
        &__imgWrap {
          width: 60%;
        }
        &__headerWrap {
          width: 40%;
        }
        &__info {
          margin-bottom: 14px;
        }
      }
    }
  }
  .wrapper__contact {
    background: url(../img/BG3.png) no-repeat center center;
    background-size: cover;
  }
  .contact {
    color: $color__black;
    text-align: center;
    padding: 92px 0;
    &__header {
      margin-bottom: 30px;
    }
    &__description {
      margin: 0 auto;
      max-width: 346px;
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 50px;
    }
    input,
    textarea {
      display: block;
      margin-bottom: 15px;
      width: 100%;
      border: none;
      background: rgba(0, 196, 196, 0.5);
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      color: $color__light;
      padding: 16px 22px;
      &::placeholder {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: $color__light;
      }
      &:focus {
        border-left: 5px solid #355b82;
        outline: none;
        padding-left: 17px;
        background: rgb(0, 196, 196);
      }
    }
    &__message {
      resize: none;
    }
    input.contact__submit {
      width: 50%;
      margin: 0 auto;
      cursor: pointer;
      &:focus,
      &:hover {
        background: rgb(0, 196, 196);
      }
    }
    &__contact {
      text-transform: uppercase;
    }
    &__contact,
    &__info {
      font-size: 17px;
      line-height: 25px;
      text-align: left;
    }
    &__info {
      font-weight: 400;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .services {
    background: url(../img/Tomatoes.png) no-repeat 75% center, #70bfff;
    padding: 165px 0;
    &__header {
      color: $color__light;
    }
    .vcenter {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__list {
      list-style: none;
      &__link {
        display: inline-block;
        padding: 23px 18px;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        width: 300px;
        color: $color__black;
        & + i {
          font-size: 42px;
          cursor: pointer;
          text-align: center;
          color: $color__black;
          min-width: 100px;
          min-height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #9d9d9d;
        }
      }
      &__item {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        min-height: 100px;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .footer {
    padding: 30px 20px;
    background: $color__black;
    font-size: 16px;
    line-height: 19px;
    color: #b9b9b9;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__link {
      display: inline-block;
    }
    &__info > span {
      font-weight: bold;
      color: #ff2b58;
    }
  }
}
